.stock-container{
    width:100%;
    height:100px;
    background-color: #E0EDF7;
    border-radius: 12px;
}

.content{
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;

}
.stock-details{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 0px 0;
}



.coins-amount{
    font-size: 18px;
    font-weight:bold;
}
.coins-amount-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.coins-amount-container p{
    padding-top: 15px;
    padding-left: 10px;
}
.redeem-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}

.stock-name{
    font-size: 15px;
   
}

.buy-button{
    width: 91px;
    height: 30px;
    border-radius: 10px;
    background-color: #8D64FF;
    cursor: pointer;
}
.buy-button p{
    padding-top: 3px;
  font-size:15px;
  color: white;
}