 /* Import Google font - Poppins */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }

 h3 {
     font-size: 16px;
     align-items: start;
 }

 body {
     display: flex;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #f0faff;
 }

 .buttonContinue-saving-details {
     position: relative;
     padding: 10px 62px;
     border-radius: 6px;
     border: none;
     color: #fff;
     cursor: pointer;
     background-color: #7d2ae8;
     transition: all 0.2s ease;
     margin-top: 20px;
     width: 100%;
     /* Added margin-top */
 }

 .buttonContinue-saving-details:active {
     transform: scale(0.96);
 }

 .buttonContinue-saving-details:before,
 .buttonContinue-saving-details:after {
     position: absolute;
     content: "";
     width: 150%;
     left: 50%;
     height: 100%;
     transform: translateX(-50%);
     z-index: -1000;
     background-repeat: no-repeat;
 }

 .buttonContinue-saving-details.animate::before {
     top: -70%;
     background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%);
     background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
         10% 10%, 18% 18%;
     animation: greentopBubbles ease-in-out 0.6s forwards infinite;
 }

 @keyframes greentopBubbles {
     0% {
         background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
             40% 90%, 55% 90%, 70% 90%;
     }

     50% {
         background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
             50% 50%, 65% 20%, 90% 30%;
     }

     100% {
         background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
             50% 40%, 65% 10%, 90% 20%;
         background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
     }
 }

 .buttonContinue-saving-details.animate::after {
     bottom: -70%;
     background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%),
         radial-gradient(circle, #7d2ae8 20%, transparent 20%);
     background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
     animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
 }

 @keyframes greenbottomBubbles {
     0% {
         background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
             70% -10%, 70% 0%;
     }

     50% {
         background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
             105% 0%;
     }

     100% {
         background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
             110% 10%;
         background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
     }
 }

 .popup-container-saving-details {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 9999;
     justify-content: center;
     align-items: center;
 }

 .popup-content-saving-details {
     background-color: #fff;
     border-radius: 10px;
     padding: 20px;
     width: 300px;
     height: 450px;
     text-align: center;
     position: relative;
     /* Add position relative */
 }

 .popup-title-saving-details {
    font-size: 22px;
     margin-bottom: 10px;
 }



 .popup-subtitle-saving-details {
     font-size: 18px;
     margin-left: auto;
     color: #2F2F2F;
     font-weight: 500;
 }

 .popup-button-saving-details {
     background-color: #4caf50;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     font-size: 16px;
     cursor: pointer;
     margin-top: 10px;
     /* Added margin-top */
 }

 .close-button-saving-details {
     position: absolute;
     top: 10px;
     right: 10px;
     background-color: lightgray;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 .expense-textfield-saving-details {
     padding: 10px;
     border-color: #B1B1B1;
     border-radius: 5px;
     width: 100%;
     margin-bottom: 10px;
     margin-top: 5px;
 }

 .button-container-saving-details {
     display: flex;
 }

 .buttonContinue-saving-details {
     margin-right: 10px;
 }